<!-- <div class="links">
  <div class="link"
      ng-repeat="link in data.links | filter:search | orderBy:'created_at'">
    <img src="assets/redirect_icon.png">
    <div class="info">
      <div class="visits">
        <span class="count">{{ link.visits }}</span>Visits
      </div>
      <div class="title">{{ link.title }}</div>
      <div class="original">{{ link.url }}</div> 
      <a href="{{ link.base_url }}/{{ link.code }}">{{ link.base_url }}/{{ link.code }}</a>
    </div>
  </div>
</div> -->
<div class="pokemons">
    <div class="pokemon" ng-repeat="pokemon in data.pokemon">
        <img ng-src="http://pokeapi.co/media/img/{{$index + 1}}.png">
        <br>
        <span ng-class="{'active' : pokemon.active}">{{ pokemon.name }}</span>
        <br>
        <button ng-show="!pokemon.active" ng-click="toggle($index)">Add</button>
        <button ng-show="pokemon.active" ng-click="toggle($index)">Remove</button>
    </div>

    <button ng-click="save()">Save</button>
</div>
